.App{
  background-color: darkgray;
}


.countriesName{
  color: black;
  margin: auto;
  padding: 10px;
}

.nameAndFlag{
  text-align: center; 
}

.flags{
  height: 130px;
  -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.flags:hover{
  -webkit-filter: blur(0);
	filter: blur(0);
}


